.wrapper {
    width: 1000px;
    margin: auto;
}
body {
    background-color: #373e47;
}
.main {
    background-color: #4d596a;
}
header {
    background-color: #ececec;
    padding: 13px 55px 15px 16px;
}
header span {
    color: #a45f93;
}
nav li {
    display: inline-block;
    width: 16%;
}
.link {
    display: block;
    text-decoration: none;
}
nav {
    display: inline-block;
    width: 60%;
}
header .logo {
    display: inline-block;
    width: 15%;
    margin-right: 185px;
}